/*初始化*/
.onlinebox, .onlinebox dl, .onlinebox dd, .onlinebox dt, .onlinebox a, .onlinebox img { margin: 0; padding: 0; border: 0; }
/*固定样式*/
.onlinebox .clear { clear: both; height: 0; font-size: 0; overflow: hidden; }
.onlinebox { position: absolute; font: 12px/1.8 Verdana, Tahoma, Arial; z-index: 999999; }
.onlinebox .onlinebox-center-box { padding: 3px 0; }
.onlinebox .onlinebox-center-box dl { padding: 5px 0 8px 5px; margin-bottom: 5px; }
.onlinebox .onlinebox-center-box dt { margin-right: 3px; }
.onlinebox .onlinebox-center-box dd img { margin: 0 6px 0 0; }
.onlinebox .onlinebox-center-box .met_alibaba { margin: 5px; }
.onlinebox .onlinebox-center-box .met_skype { margin: 5px; }
.onlinebox .onlinebox-bottom-box .online-tbox { padding: 5px; white-space: nowrap; }
.onlinebox .onlinebox-bottom-box { line-height: 1.6; }
.onlinebox .onlinebox-conbox { z-index: 999; }
/*样式1---------------------------------------------------------------------*/
.onlinebox_1 .onlinebox-center-box dl { float: left; }
.onlinebox_1 .onlinebox-center-box dd { clear: both; }
.onlinebox_1 .onlinebox-showbox { width: 20; text-align: center; padding: 8px 3px; line-height: 1.4; cursor: pointer;
	color: #FFF; word-break: break-all; position: absolute; top: 0; right: -25px; }
.onlinebox_1 .onlinebox-conbox { background: #FAFAFA; overflow: hidden; }
.onlinebox_1 .onlinebox-top { border-bottom: 1px solid #DDD; text-align: center; padding: 5px 0; font-weight: bold;
	font-size: 14px; color: #FFF; cursor: pointer; }
.onlinebox_1 .onlinebox-center-box { padding: 2px 0 10; }
.onlinebox_1 .onlinebox-conbox dl { padding: 5px 0 0; margin-bottom: 0; }
.onlinebox_1 .onlinebox-conbox dt { white-space: nowrap; padding: 0 10; margin-right: 0; }
.onlinebox_1 .onlinebox-conbox dd { padding: 3px 10 3px 5px; white-space: nowrap; }
.onlinebox_1 .onlinebox-center-box dd img { margin: 0 0 0 6px; }
.onlinebox_1 .onlinebox-bottom { border-top: 1px dotted #CCC; }
/*color1*/
.onlinebox_1_1 .onlinebox-showbox { background: #2691D0; }
.onlinebox_1_1 .onlinebox-top { background: #2691D0; }
.onlinebox_1_1 .onlinebox-conbox dt { color: #087BBF; }
/*color2*/
.onlinebox_1_2 .onlinebox-showbox { background: #E80F32; }
.onlinebox_1_2 .onlinebox-top { background: #E80F32; }
.onlinebox_1_2 .onlinebox-conbox dt { color: #DB1A3A; }
.digg4 { padding: 3px; margin: 3px; text-align: center; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; }
.digg4 a, .digg4 span.miy { border: 1px solid #CCDBE4; padding: 2px 8px 2px 8px; background-position: 50%;
	margin: 2px; color: #0061DE; text-decoration: none; }
.digg4 a:hover { border: 1px solid #2B55AF; color: #FFF; background-color: #3666D4; }
.digg4 a:active { border: 1px solid #009; color: #000; }
.digg4 span.current { padding: 2px 8px 2px 8px; margin: 2px; color: #000; text-decoration: none; }
.digg4 span.disabled { border: 1px solid #CCDBE4; padding: 2px 8px 2px 8px; margin: 2px; color: #DDD; }